# Data Science Tools and Ecosystem

## Autor:
Rosa María Cantón Croda

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries used by Data Scientists.
* Data Science Tools.
* Examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. RStudio
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Matplotlib
* Scikit-Learn
* Spark
* ggplot2

| Data Science Tools |
| --- |
Python 3
| Apache Spark |
| Weka | |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [16]:
200/60

3.3333333333333335